{"swagger":"2.0","host":"api.accounts.firefox.com","basePath":"/v1","schemes":["https"],"info":{"title":"Firefox Accounts API Documentation","version":"0.0.1","description":"[**DISCLAIMER**]: This information may not be up-to-date - it may be worth verifying information in the source code before acting on anything you read here."},"tags":[{"name":"Auth Server API Overview","description":"This document provides protocol-level details of the Firefox Accounts auth server API. For a prose description of the client/server protocol and details on how each parameter is derived, see the [API design document](https://wiki.mozilla.org/Identity/AttachedServices/KeyServerProtocol). For a reference client implementation, see [fxa-auth-client](https://github.com/mozilla/fxa/tree/main/packages/fxa-auth-client).\n\n  ## URL Structure for Auth Server\n  All requests use URLs of the form:\n\n  > `https://<base-URI>/v1/<endpoint-path>`\n\n  Note that:\n\n  - All API access must be over a properly-validated HTTPS connection.\n  - The URL embeds a version identifier `v1`.\n    Future revisions of this API may introduce new version numbers.\n  - The base URI of the server may be configured on a per-client basis:\n    - The canonical URL for Mozilla's hosted Firefox Accounts server\n      is `https://api.accounts.firefox.com/v1`.\n\n  ## Request Format\n  All POST requests must have a content-type of `application/json` with a UTF8-encoded JSON body and must specify the content-length header. Keys and other binary data are included in the JSON as hexadecimal strings.\n\n  The following request headers may be specified to influence the behavior of the server:\n\n  - `Accept-Language` may be used to localize emails and SMS messages.\n\n  ## Response format\n  All requests receive a JSON response body with a `Content-Type: application/json` header and appropriate `Content-Length` set. The body structure depends on the endpoint returning it.\n\n  Successful responses will have an HTTP status code of 200 and a `Timestamp` header that contains the current server time in seconds since the epoch.\n\n  Error responses caused by invalid client behavior will have an HTTP status code in the 4xx range. Error responses caused by server-side problems will have an HTTP status code in the 5xx range. Failures due to invalid behavior from the client.\n\n  To simplify error handling for the client, the type of error is indicated by both\n  a defined HTTP status code and an application-specific `errno` in the body.\n\n  For example:\n\n  ```js\n      {\n        \"code\": 400,  // Matches the HTTP status code\n        \"errno\": 107, // Stable application-level error number\n        \"error\": \"Bad Request\", // String description of the error type\n        \"message\": \"Invalid parameter in request body\", // Specific error message\n        \"info\": \"https://docs.dev.lcip.og/errors/1234\"  // Link to more information\n      }\n  ```\n\n  Responses for some errors may include additional parameters.\n\n\n  ### Defined errors\n\n  The currently-defined values for `code` and `errno` are:\n\n  | status code | errno | description                                                                   |\n  |-------------|-------|-------------------------------------------------------------------------------|\n  | 400         | 100   | Incorrect Database Patch Level                                                |\n  | 400         | 101   | Account already exists                                                        |\n  | 400         | 102   | Unknown account                                                               |\n  | 400         | 103   | Incorrect password                                                            |\n  | 400         | 104   | Unconfirmed account                                                            |\n  | 400         | 105   | Invalid confirmation code                                                   |\n  | 400         | 106   | Invalid JSON in request body                                                  |\n  | 400         | 107   | Invalid parameter in request body                                             |\n  | 400         | 108   | Missing parameter in request body                                             |\n  | 401         | 109   | Invalid request signature                                                     |\n  | 401         | 110   | Invalid authentication token in request signature                             |\n  | 401         | 111   | Invalid timestamp in request signature                                        |\n  | 411         | 112   | Missing content-length header                                                 |\n  | 413         | 113   | Request body too large                                                        |\n  | 429         | 114   | Client has sent too many requests                                             |\n  | 401         | 115   | Invalid nonce in request signature                                            |\n  | 410         | 116   | This endpoint is no longer supported                                          |\n  | 400         | 120   | Incorrect email case                                                          |\n  | 400         | 123   | Unknown device                                                                |\n  | 400         | 124   | Session already registered by another device                                  |\n  | 400         | 125   | The request was blocked for security reasons                                  |\n  | 400         | 126   | Account must be reset                                                         |\n  | 400         | 127   | Invalid unblock code                                                          |\n  | 400         | 129   | Invalid phone number                                                          |\n  | 400         | 130   | Invalid region                                                                |\n  | 400         | 131   | Invalid message id                                                            |\n  | 500         | 132   | Message rejected                                                              |\n  | 400         | 133   | Email account sent complaint                                                  |\n  | 400         | 134   | Email account hard bounced                                                    |\n  | 400         | 135   | Email account soft bounced                                                    |\n  | 400         | 136   | Email already exists                                                          |\n  | 400         | 137   | Can not delete primary email                                                  |\n  | 400         | 138   | Unverified session                                                            |\n  | 400         | 139   | Can not add secondary email that is same as your primary                      |\n  | 400         | 140   | Email already exists                                                          |\n  | 400         | 141   | Email already exists                                                          |\n  | 400         | 142   | Sign in with this email type is not currently supported                       |\n  | 400         | 143   | Unknown email                                                                 |\n  | 400         | 144   | Email already exists                                                          |\n  | 400         | 145   | Reset password with this email type is not currently supported                |\n  | 400         | 146   | Invalid signin code                                                           |\n  | 400         | 147   | Can not change primary email to an unverified email                           |\n  | 400         | 148   | Can not change primary email to an email that does not belong to this account |\n  | 400         | 149   | This email can not currently be used to login                                 |\n  | 400         | 150   | Can not resend email code to an email that does not belong to this account    |\n  | 500         | 151   | Failed to send email                                                          |\n  | 422         | 151   | Failed to send email                                                          |\n  | 400         | 152   | Invalid token confirmation code                                               |\n  | 400         | 153   | Expired token confirmation code                                               |\n  | 400         | 154   | TOTP token already exists for this account.                                   |\n  | 400         | 155   | TOTP token not found.                                                         |\n  | 400         | 156   | Backup authentication code not found.                                         |\n  | 400         | 157   | Unavailable device command.                                                   |\n  | 400         | 158   | Account recovery key not found.                                               |\n  | 400         | 159   | Account recovery key is not valid.                                            |\n  | 400         | 160   | This request requires two step authentication enabled on your account.        |\n  | 400         | 161   | Account recovery key already exists.                                          |\n  | 400         | 162   | Unknown client_id                                                             |\n  | 400         | 164   | Stale auth timestamp                                                          |\n  | 409         | 165   | Redis WATCH detected a conflicting update                                     |\n  | 400         | 166   | Not a public client                                                           |\n  | 400         | 167   | Incorrect redirect URI                                                        |\n  | 400         | 168   | Invalid response_type                                                         |\n  | 400         | 169   | Public clients require PKCE OAuth parameters                                  |\n  | 400         | 170   | Required Authentication Context Reference values could not be satisfied       |\n  | 400         | 171   | Incorrect client_secret                                                       |\n  | 400         | 172   | Unknown authorization code                                                    |\n  | 400         | 173   | Mismatched authorization code                                                 |\n  | 400         | 174   | Expired authorization code                                                    |\n  | 400         | 175   | Public clients require PKCE OAuth parameters                                  |\n  | 404         | 176   | Unknown customer                                                              |\n  | 404         | 177   | Unknown subscription                                                          |\n  | 400         | 178   | Unknown subscription plan                                                     |\n  | 400         | 179   | Subscription payment token rejected                                           |\n  | 400         | 180   | Subscription has already been cancelled                                       |\n  | 400         | 181   | Customer update rejected                                                      |\n  | 400         | 182   | Unknown refresh token                                                         |\n  | 400         | 183   | Invalid or expired confirmation code                                          |\n  | 400         | 184   | Subscription has already been cancelled                                       |\n  | 400         | 185   | Subscription plan is not a valid update                                       |\n  | 400         | 186   | Payment method failed                                                         |\n  | 409         | 187   | User already subscribed                                                       |\n  | 500         | 188   | Failed to find a subscription associated with Stripe source                   |\n  | 400         | 192   | Billing agreement already on file for this customer                           |\n  | 400         | 193   | PayPal payment token is missing                                               |\n  | 400         | 194   | PayPal billing agreement is missing for the existing subscriber               |\n  | 400         | 195   | Account for this email has an active subscription                             |\n  | 400         | 196   | Invalid token                                                                 |\n  | 500         | 197   | IAP Internal Error                                                            |\n  | 404         | 198   | Unknown app name                                                              |\n  | 400         | 199   | Invalid promotion code                                                        |\n  | 503         | 201   | Service unavailable                                                           |\n  | 503         | 202   | Feature not enabled                                                           |\n  | 500         | 203   | A backend service request failed.                                             |\n  | 503         | 204   | This client has been temporarily disabled                                     |\n  | 500         | 205   | Could not login with third party account, please try again later              |\n  | 400         | 206   | Can not create password, password already set.                                |\n  | 400         | 207   | Account creation rejected.                                                    |\n  | 403         | 208   | Purchase has been registered to another user.                                 |\n  | 500         | 998   | An internal validation check failed.                                          |\n\n  The following errors include additional response properties:\n\n  | errno | description                                                             |\n  |-------|-------------------------------------------------------------------------|\n  | 100   | level, levelRequired                                                    |\n  | 101   | email                                                                   |\n  | 102   | email                                                                   |\n  | 103   | email                                                                   |\n  | 105   |                                                                         |\n  | 107   | validation                                                              |\n  | 108   | param                                                                   |\n  | 111   | serverTime                                                              |\n  | 114   | retryAfter, retryAfterLocalized, verificationMethod, verificationReason |\n  | 120   | email                                                                   |\n  | 124   | deviceId                                                                |\n  | 125   | verificationMethod, verificationReason                                  |\n  | 126   | email                                                                   |\n  | 130   | region                                                                  |\n  | 132   | reason, reasonCode                                                      |\n  | 133   | bouncedAt                                                               |\n  | 134   | bouncedAt                                                               |\n  | 135   | bouncedAt                                                               |\n  | 152   |                                                                         |\n  | 153   |                                                                         |\n  | 162   | clientId                                                                |\n  | 164   | authAt                                                                  |\n  | 167   | redirectUri                                                             |\n  | 169   | invalidScopes                                                           |\n  | 171   | foundValue                                                              |\n  | 201   | retryAfter                                                              |\n  | 202   | retryAfter                                                              |\n  | 203   | service, operation                                                      |\n  | 998   | op, data                                                                |\n\n\n  ### Responses from intermediary servers\n\n  As with any HTTP-based API, clients must handle standard errors that may be returned by proxies, load-balancers or other intermediary servers. These non-application responses can be identified by the absence of a correctly-formatted JSON response body.\n\n  Common examples include:\n\n  - `413 Request Entity Too Large`: may be returned by an upstream proxy server.\n  - `502 Gateway Timeout`: may be returned if a load-balancer can't connect to application servers.\n\n  ## Validation\n  In the documentation that follows, some properties of requests and responses are validated by common code that has been refactored and extracted. For reference, those common validations are defined here.\n\n\n  ### lib/routes/validators\n\n  - `HEX_STRING`: `/^(?:[a-fA-F0-9]{2})+$/`\n  - `BASE_36`: `/^[a-zA-Z0-9]*$/`\n  - `URL_SAFE_BASE_64`: `/^[A-Za-z0-9_-]+$/`\n  - `PKCE_CODE_VERIFIER`: `/^[A-Za-z0-9-\\._~]{43,128}$/`\n  - `DISPLAY_SAFE_UNICODE`: `/^(?:[^\\u0000-\\u001F\\u007F\\u0080-\\u009F\\u2028-\\u2029\\uD800-\\uDFFF\\uE000-\\uF8FF\\uFFF9-\\uFFFF])*$/`\n  - `DISPLAY_SAFE_UNICODE_WITH_NON_BMP`: `/^(?:[^\\u0000-\\u001F\\u007F\\u0080-\\u009F\\u2028-\\u2029\\uE000-\\uF8FF\\uFFF9-\\uFFFF])*$/`\n  - `BEARER_AUTH_REGEX`: `/^Bearer\\s+([a-z0-9+\\/]+)$/i`\n  - `service`: `string, max(16), regex(/^[a-zA-Z0-9\\-]*$/)`\n  - `hexString`: `string, regex(/^(?:[a-fA-F0-9]{2})+$/)`\n  - `clientId`: `module.exports.hexString.length(16)`\n  - `clientSecret`: `module.exports.hexString`\n  - `accessToken`: `module.exports.hexString.length(64)`\n  - `refreshToken`: `module.exports.hexString.length(64)`\n  - `authorizationCode`: `module.exports.hexString.length(64)`\n  - `scope`: `string, max(256), regex(/^[a-zA-Z0-9 _\\/.:-]*$/), allow('')`\n  - `assertion`: `string, min(50), max(10240), regex(/^[a-zA-Z0-9_\\-\\.~=]+$/)`\n  - `pkceCodeChallengeMethod`: `string, valid('S256')`\n  - `pkceCodeChallenge`: `string, length(43), regex(module, exports.URL_SAFE_BASE_64)`\n  - `pkceCodeVerifier`: `string, length(43), regex(module, exports.PKCE_CODE_VERIFIER)`\n  - `jwe`: `string, max(1024), regex(/^[A-Za-z0-9-_]+\\.[A-Za-z0-9-_]*\\.[A-Za-z0-9-_]+\\.[A-Za-z0-9-_]+\\.[A-Za-z0-9-_]+$/)`\n  - `verificationMethod`: `string, valid()`\n  - `authPW`: `string, length(64), regex(HEX_STRING), required`\n  - `wrapKb`: `string, length(64), regex(/^(?:[a-fA-F0-9]{2})+$/)`\n  - `recoveryKeyId`: `string, regex(HEX_STRING), max(32)`\n  - `recoveryData`: `string, regex(/[a-zA-Z0-9.]/), max(1024), required`\n  - `E164_NUMBER`: `/^\\+[1-9]\\d{1,14}$/`\n  - `DIGITS`: `/^[0-9]+$/`\n  - `DEVICE_COMMAND_NAME`: `/^[a-zA-Z0-9._\\/\\-:]{1,100}$/`\n  - `IP_ADDRESS`: `string, ip`\n\n\n  ### lib/metrics/context\n\n  - `SCHEMA`: object({\n    - `deviceId`: string, length(32), regex(HEX_STRING), optional\n    - `entrypoint`: ENTRYPOINT_SCHEMA.optional\n    - `entrypointExperiment`: ENTRYPOINT_SCHEMA.optional\n    - `entrypointVariation`: ENTRYPOINT_SCHEMA.optional\n    - `flowId`: string, length(64), regex(HEX_STRING), optional\n    - `flowBeginTime`: number, integer, positive, optional\n    - `utmCampaign`: UTM_CAMPAIGN_SCHEMA.optional\n    - `utmContent`: UTM_SCHEMA.optional\n    - `utmMedium`: UTM_SCHEMA.optional\n    - `utmSource`: UTM_SCHEMA.optional\n    - `utmTerm`: UTM_SCHEMA.optional\n      }), unknown(false), and('flowId', 'flowBeginTime')\n  - `schema`: SCHEMA.optional\n  - `requiredSchema`: SCHEMA.required\n\n\n  ### lib/features\n\n  - `schema`: array, items(string), optional\n\n\n  ### lib/devices\n\n  - `schema`: {\n\n    - `id`: isA.string.length(32).regex(HEX_STRING)\n    - `location`: isA.object({\n      - `city`: isA.string.optional.allow(null)\n      - `country`: isA.string.optional.allow(null)\n      - `state`: isA.string.optional.allow(null)\n      - `stateCode`: isA.string.optional.allow(null)\n      - })\n    - `name`: isA.string.max(255).regex(DISPLAY_SAFE_UNICODE_WITH_NON_BMP)\n    - `nameResponse`: isA.string.max(255).allow('')\n    - `type`: isA.string.max(16)\n    - `pushCallback`: validators.pushCallbackUrl({ scheme: 'https' }).regex(PUSH_SERVER_REGEX).max(255).allow('')\n    - `pushPublicKey`: isA.string.max(88).regex(URL_SAFE_BASE_64).allow('')\n    - `pushAuthKey`: isA.string.max(24).regex(URL_SAFE_BASE_64).allow('')\n    - `pushEndpointExpired`: isA.boolean.strict\n    - `availableCommands`: isA.object.pattern(validators.DEVICE_COMMAND_NAME\n    - `isA.string.max(2048))\n\n    }\n\n  ## Back-off protocol\n\n  During periods of heavy load, the server may request that clients enter a \"back-off\" state,\n  in which they avoid making further requests.\n\n  At such times,\n  it will return a `503 Service Unavailable` response\n  with a `Retry-After` header denoting the number of seconds to wait\n  before issuing any further requests.\n  It will also include `errno: 201`\n  and a `retryAfter` field\n  matching the value of the `Retry-After` header\n  in the body.\n\n  For example,\n  the following response indicates that the client\n  should suspend making further requests\n  for 30 seconds:\n\n  ```js\n      HTTP/1.1 503 Service Unavailable\n      Retry-After: 30\n      Content-Type: application/json\n\n      {\n          \"code\": 503,\n          \"errno\": 201,\n          \"error\": \"Service Unavailable\",\n          \"message\": \"Service unavailable\",\n          \"info\": \"https://mozilla.github.io/ecosystem-platform/api#section/Response-format\",\n          \"retryAfter\": 30,\n          \"retryAfterLocalized\": \"in a few seconds\"\n      }\n```"},{"name":"OAuth Server API Overview","description":"## URL Structure for OAuth Server\n> `https://<server-url>/v1/<api-endpoint>`\n\nNote that:\n- All API access must be over HTTPS\n- The URL embeds a version identifier \"v1\"; future versions of this API may introduce new version numbers.\n- The base URL of the server may be configured on a per-client basis.\n\n## Errors\nInvalid requests will return 4XX responses. Internal failures will return 5XX. Both will include JSON responses describing the error.\n\n**Example error:**\n\n```js\n    {\n      \"code\": 400, // matches the HTTP status code\n      \"errno\": 101, // stable application-level error number\n      \"error\": \"Bad Request\", // string description of error type\n      \"message\": \"Unknown client\"\n    }\n```\n\nThe currently-defined error responses are:\n\n| status code | errno | description                                     |\n|-------------|-------|-------------------------------------------------|\n| 400         | 101   | unknown client id                               |\n| 400         | 102   | incorrect client secret                         |\n| 400         | 103   | `redirect_uri` doesn't match registered value |\n| 401         | 104   | invalid fxa assertion                           |\n| 400         | 105   | unknown code                                    |\n| 400         | 106   | incorrect code                                  |\n| 400         | 107   | expired code                                    |\n| 400         | 108   | invalid token                                   |\n| 400         | 109   | invalid request parameter                       |\n| 400         | 110   | invalid response_type                           |\n| 401         | 111   | unauthorized                                    |\n| 403         | 112   | forbidden                                       |\n| 415         | 113   | invalid content type                            |\n| 400         | 114   | invalid scopes                                  |\n| 400         | 115   | expired token                                   |\n| 400         | 116   | not a public client                             |\n| 400         | 117   | incorrect code_challenge                        |\n| 400         | 118   | pkce parameters missing                         |\n| 400         | 119   | stale authentication timestamp                  |\n| 400         | 120   | mismatch acr value                              |\n| 400         | 121   | invalid grant_type                              |\n| 500         | 999   | internal server error                           |\n\n\n## API Endpoints\n- [GET /v1/authorization](#tag/OAuth-Server-API-Overview/operation/getAuthorization)\n- [POST /v1/authorization](#tag/OAuth-Server-API-Overview/operation/postAuthorization)\n- [POST /v1/authorized-clients](#tag/OAuth-Server-API-Overview/operation/postAuthorizedclients)\n- [POST /v1/authorized-clients/destroy](#tag/OAuth-Server-API-Overview/operation/postAuthorizedclientsDestroy)\n- [GET /v1/client/:id](#tag/OAuth-Server-API-Overview/operation/getClientClient_id)\n- [POST /v1/destroy](#tag/OAuth-Server-API-Overview/operation/postDestroy)\n- [POST /v1/introspect](#tag/OAuth-Server-API-Overview/operation/postIntrospect)\n- [GET /v1/jwks](#tag/OAuth-Server-API-Overview/operation/getJwks)\n- [POST /v1/key-data](#tag/OAuth-Server-API-Overview/operation/postKeydata)\n- [POST /v1/token](#tag/OAuth-Server-API-Overview/operation/postToken)\n- [POST /v1/verify](#tag/OAuth-Server-API-Overview/operation/postVerify)"}],"x-tagGroups":[{"name":"Firefox Accounts Auth Server API","tags":["Auth Server API Overview","Account","Devices and Sessions","Emails","Miscellaneous","Oauth","Password","Backup authentication codes","Account recovery key","Security events","Session","Sign","Subscriptions","Third Party Authentication","totp","Unblock codes","Util"]},{"name":"Firefox Accounts OAuth Server API","tags":["OAuth Server API Overview"]}],"paths":{"/.well-known/browserid":{"get":{"summary":"/.well-known/browserid","operationId":"getWellknownBrowserid","tags":["Miscellaneous"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/.well-known/public-keys":{"get":{"summary":"/.well-known/public-keys","operationId":"getWellknownPublickeys","tags":["Miscellaneous"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/account":{"get":{"summary":"/account","operationId":"getAccount","description":"🔒 Authenticated with session token","tags":["Miscellaneous"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model2"},"description":"Successful"}}}},"/authorization":{"get":{"summary":"/v1/authorization","operationId":"getAuthorization","description":"This endpoint starts the OAuth flow. A client redirects the user agent to this url. This endpoint will then redirect to the appropriate content-server page.","tags":["OAuth Server API Overview"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -v \"https://oauth.accounts.firefox.com/v1/authorization?client_id=5901bd09376fadaa&state=1234&scope=profile:email&action=signup\""}]},"post":{"summary":"/v1/authorization","operationId":"postAuthorization","description":"This endpoint should be used by the fxa-content-server, requesting that we supply a short-lived code (currently 15 minutes) that will be sent back to the client. This code will be traded for a token at the [token][] endpoint.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model35"}}],"tags":["OAuth Server API Overview"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model36"},"description":"A valid request will return a 200 response, with JSON containing the `redirect` to follow.\n<br />\n**Example:**\n\n```js\n    {\n      \"redirect\": \"https://example.domain/path?foo=bar&code=4ab433e31ef3a7cf7c20590f047987922b5c9ceb1faff56f0f8164df053dd94c&state=1234\"\n    }\n```\n\n**Implicit Grant** \\\n If requesting an implicit grant (token), the response will match the [/v1/token][token] response."}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -v \\\n -X POST \\\n -H \"Content-Type: application/json\" \\\n \"https://oauth.accounts.firefox.com/v1/authorization\" \\\n -d '{\n  \"client_id\": \"5901bd09376fadaa\",\n  \"assertion\": \"<assertion>\",\n  \"state\": \"1234\",\n  \"scope\": \"profile:email\"\n}'"}]}},"/complete_reset_password":{"get":{"summary":"/complete_reset_password","operationId":"getComplete_reset_password","parameters":[{"type":"string","maxLength":255,"pattern":"^(?:[^\\u0000-\\u001F\\u007F\\u0080-\\u009F\\u2028-\\u2029\\uD800-\\uDFFF\\uE000-\\uF8FF\\uFFF9-\\uFFFC\\uFFFE-\\uFFFF])*$","name":"email","in":"query","required":true},{"type":"string","maxLength":32,"pattern":"^(?:[a-fA-F0-9]{2})+$","name":"code","in":"query","required":true},{"type":"string","maxLength":64,"pattern":"^(?:[a-fA-F0-9]{2})+$","name":"token","in":"query","required":true},{"type":"string","maxLength":16,"x-format":{"alphanum":true},"name":"service","in":"query","required":false},{"type":"string","maxLength":2048,"name":"redirectTo","in":"query","required":false}],"tags":["Util"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/jwks":{"get":{"summary":"/v1/jwks","operationId":"getJwks","description":"This endpoint returns the [JWKs](https://datatracker.ietf.org/doc/html/rfc7517) that are used for signing OpenID Connect id tokens.","tags":["OAuth Server API Overview"],"responses":{"200":{"description":"A valid response will return JSON of the `keys`.\n<br />\n**Example:**\n``` js\n    {\n      \"keys\": [\n        \"alg\": \"RS256\",\n        \"use\": \"sig\",\n        \"kty\": \"RSA\",\n        \"kid\": \"2015.12.02-1\",\n        \"n\":\"xaQHsKpu1KSK-YEMoLzZS7Xxciy3esGrhrrqW_JBrq3IRmeGLaqlE80zcpIVnStyp9tbet2niYTemt8ug591YWO5Y-S0EgQyFTxnGjzNOvAL6Cd2iGie9QeSehfFLNyRPdQiadYw07fw-h5gweMpVJs8nTgS-Bcorlw9JQM6Il1cUpbP0Lt-F_5qrzlaOiTEAAb4JGOusVh0n-MZfKt7w0mikauMH5KfhflwQDn4YTzRkWJzlldXr1Cs0ZkYzOwS4Hcoku7vd6lqCUO0GgZvkuvCFqdVKzpa4CGboNdfIjcGVF4f1CTQaQ0ao51cwLzq1pgi5aWYhVH7lJcm6O_BQw\",\n        \"e\":\"AQAC\"\n      ]\n    }\n```","schema":{"type":"string"}}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -v \"http://oauth.accounts.firefox.com/v1/jwks\""}]}},"/recoveryCodes":{"get":{"summary":"/recoveryCodes","operationId":"getRecoverycodes","description":"🔒 Authenticated with session token\n\nReturn new backup authentication codes while removing old ones.","tags":["Backup authentication codes"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model3"},"description":"Successful"}}},"put":{"summary":"/recoveryCodes","operationId":"putRecoverycodes","description":"🔒 Authenticated with session token","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model3"}}],"tags":["Backup authentication codes"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model143"},"description":"Successful"}}}},"/recovery_emails":{"get":{"summary":"/recovery_emails","operationId":"getRecovery_emails","description":"🔒 Authenticated with session token\n\nReturns an array of objects containing details of the email addresses associated with the logged-in user. Currently, the primary email address is always the one from the `accounts` table.","tags":["Emails"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model5"},"description":"Successful"}}}},"/securityEvents":{"get":{"summary":"/securityEvents","operationId":"getSecurityevents","description":"🔒 Authenticated with session token\n\nReturns a list of all security events for a signed in account having `account.create`, `account.login`, `account.reset` events.","tags":["Security events"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"delete":{"summary":"/securityEvents","operationId":"deleteSecurityevents","description":"🔒 Authenticated with session token\n\nDeletes all the security events of a signed in account.","tags":["Security events"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/verify_email":{"get":{"summary":"/verify_email","operationId":"getVerify_email","parameters":[{"type":"string","maxLength":32,"pattern":"^(?:[a-fA-F0-9]{2})+$","name":"code","in":"query","required":true},{"type":"string","maxLength":32,"pattern":"^(?:[a-fA-F0-9]{2})+$","name":"uid","in":"query","required":true},{"type":"string","maxLength":16,"x-format":{"alphanum":true},"name":"service","in":"query","required":false},{"type":"string","maxLength":2048,"name":"redirectTo","in":"query","required":false}],"tags":["Util"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/account/attached_clients":{"get":{"summary":"/account/attached_clients","operationId":"getAccountAttached_clients","description":"🔒 Authenticated with session token\n\nReturns an array listing all the clients connected to the authenticated user's account, including devices, OAuth clients, and web sessions.\n\nThis endpoint is primarily designed to power the \"devices and apps\" view on the user's account settings page. Depending on the type of client, it will have at least one and possibly several of the following properties:\n\n- `clientId`: The OAuth client_id of the connected application.\n- `sessionTokenId`: The id of the `sessionToken` held by that client, if any.\n- `refreshTokenId`: The id of the OAuth `refreshToken` held by that client, if any.\n- `deviceId`: The id of the client's device record, if it has registered one.\n\nThese identifiers can be passed to [/account/attached_client/destroy](#tag/Devices-and-Sessions/operation/getAccountAttached_clients) in order to disconnect the client.\n\nThis endpoint returns a maximum 500 last used devices and sessions.","parameters":[{"type":"number","description":"Filter device list to only show devices active since UTC timestamp.","name":"filterIdleDevicesTimestamp","in":"query","required":false}],"tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model7"},"description":"Successful"}}}},"/account/devices":{"get":{"summary":"/account/devices","operationId":"getAccountDevices","description":"🔒 Authenticated with session token or authenticated with OAuth refresh token.\n\nReturns an array of registered device objects for the authenticated user.","parameters":[{"type":"number","description":"Filter device list to only show devices active since UTC timestamp.","name":"filterIdleDevicesTimestamp","in":"query","required":false}],"tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model9"},"description":"Successful"}}}},"/account/keys":{"get":{"summary":"/account/keys","operationId":"getAccountKeys","description":"🔒 Authenticated with key fetch token\n\nGet the base-16 bundle of encrypted `kA|wrapKb`. The return value must be decrypted with a key derived from `keyFetchToken`, then `wrapKb` must be further decrypted with a key derived from the user's password.\n\nSince `keyFetchToken` is single-use, this can only be done once per session. Note that `keyFetchToken` is consumed regardless of whether the request succeeds or fails.\n\nThis request will fail unless the account's email address and current session has been verified.","tags":["Account"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model10"},"description":"Successful"},"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 104` - Unverified account"}}}},"/account/profile":{"get":{"summary":"/account/profile","operationId":"getAccountProfile","description":"🔒 Authenticated with OAuth bearer token or authenticated with session token\n\nGet the email and locale of a user.\n\nIf an OAuth bearer token is used, the values returned depend on the scopes that the token is authorized for:\n  - `email` requires `profile:email` scope.\n  - `locale` requires `profile:locale` scope.\n  - `authenticationMethods` and `authenticatorAssuranceLevel` require `profile:amr` scope.\n\nThe `profile` scope includes all the above sub-scopes.","tags":["Account"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model11"},"description":"Successful"}}}},"/account/sessions":{"get":{"summary":"/account/sessions","operationId":"getAccountSessions","description":"[**DEPRECATED**]: Please use [/account/attached_clients](#tag/Devices-and-Sessions/operation/getAccountAttached_clients) instead.\n\n🔒 Authenticated with session token.\n\nReturns an array of session objects for the authenticated user.","tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model13"},"description":"Successful"}},"deprecated":true}},"/account/status":{"get":{"summary":"/account/status","operationId":"getAccountStatus","description":"🔒🔓 Optionally authenticated with session token\n\nGets the status of an account.","parameters":[{"type":"string","minLength":32,"maxLength":32,"pattern":"^(?:[a-fA-F0-9]{2})+$","name":"uid","in":"query"}],"tags":["Account"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 108` - Missing parameter in request body"}}},"post":{"summary":"/account/status","operationId":"postAccountStatus","description":"Gets the status of an account without exposing user data through query params. This endpoint is rate limited by [fxa-customs-server](https://github.com/mozilla/fxa/tree/main/packages/fxa-customs-server).","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model65"}}],"tags":["Account"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model66"},"description":"Successful"}}}},"/client/{client_id}":{"get":{"summary":"/v1/client/{client_id}","operationId":"getClientClient_id","description":"This endpoint is for the fxa-content-server to retrieve information about a client to show in its user interface.","parameters":[{"type":"string","description":"The OAuth client identifier for the requesting client application (provided by the connecting client application) asking for permission.","pattern":"^(?:[0-9a-f]{2})+$","x-constraint":{"length":16},"name":"client_id","in":"path","required":true}],"tags":["OAuth Server API Overview"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model14"},"description":"A valid 200 response will be a JSON blob.\n<br />\n**Example:**\n``` js\n    {\n      \"name\": \"Where's My Fox\",\n      \"image_uri\": \"https://mozilla.org/firefox.png\",\n      \"redirect_uri\": \"https://wheres.my.firefox.com/oauth\",\n      \"trusted\": true\n    }\n```"}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -v \"http://oauth.accounts.firefox.com/v1/client/5901bd09376fadaa\""}]}},"/recoveryKey/{recoveryKeyId}":{"get":{"summary":"/recoveryKey/{recoveryKeyId}","operationId":"getRecoverykeyRecoverykeyid","description":"🔒 Authenticated with account reset token<br/><br/>Retrieve the account recovery data associated with the given account recovery key.","parameters":[{"type":"string","maxLength":32,"pattern":"^(?:[a-fA-F0-9]{2})+$","name":"recoveryKeyId","in":"path","required":true}],"tags":["Account recovery key"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/recovery_email/status":{"get":{"summary":"/recovery_email/status","operationId":"getRecovery_emailStatus","description":"🔒 Authenticated with session token\n\nReturns the 'verified' status for the account's recovery email address.\n\nCurrently, each account is associated with exactly one email address. This address must be verified before the account can be used (specifically, `POST /certificate/sign` and `GET /account/keys` will return errors until the address is verified). In the future, this may be expanded to include multiple addresses, and/or alternate types of recovery methods (e.g. SMS). A new API will be provided for this extra functionality.\n\nThis call is used to determine the current state (verified or unverified) of the account. During account creation, until the address is verified, the agent can poll this method to discover when it should proceed with `POST /certificate/sign` and `GET /account/keys`.","parameters":[{"type":"string","maxLength":16,"name":"reason","in":"query","required":false}],"tags":["Emails"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model15"},"description":"Successful"},"401":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 110` - Invalid authentication token in request signature"}}}},"/session/status":{"get":{"summary":"/session/status","operationId":"getSessionStatus","description":"🔒 Authenticated with session token\n\nReturns a success response if the session token is valid.","tags":["Session"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model16"},"description":"Successful"}}}},"/totp/exists":{"get":{"summary":"/totp/exists","operationId":"getTotpExists","description":"🔒 Authenticated with session token\n\nChecks to see if the user has a TOTP token.","tags":["totp"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model17"},"description":"Successful"}}}},"/account/device/commands":{"get":{"summary":"/account/device/commands","operationId":"getAccountDeviceCommands","description":"🔒 Authenticated with session token or authenticated with OAuth refresh token.\n\nFetches commands enqueued for the current device by prior calls to [/account/devices/invoke_command](#tag/Devices-and-Sessions/operation/postAccountDevicesInvoke_command). The device can page through the enqueued commands by using the `index` and `limit` parameters.\n\nFor more details, see the [device registration](https://github.com/mozilla/fxa/blob/main/packages/fxa-auth-server/docs/device_registration.md) docs.","parameters":[{"type":"number","description":"The index of the most recently seen command item. Only commands enqueued after the given index will be returned.","name":"index","in":"query","required":false},{"type":"number","description":"The maximum number of commands to return. The default and maximum value for limit is 100.","default":100,"minimum":0,"maximum":100,"name":"limit","in":"query","required":false}],"tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model19"},"description":"Successful"}}}},"/oauth/client/{client_id}":{"get":{"summary":"/oauth/client/{client_id}","operationId":"getOauthClientClient_id","description":"Retrieve metadata about the specified OAuth client, such as its display name and redirect URI.","parameters":[{"type":"string","description":"The OAuth client identifier for the requesting client application (provided by the connecting client application) asking for permission.","pattern":"^(?:[0-9a-f]{2})+$","x-constraint":{"length":16},"name":"client_id","in":"path","required":true}],"tags":["Oauth"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model14"},"description":"Successful"}}}},"/oauth/subscriptions/active":{"get":{"summary":"/oauth/subscriptions/active","operationId":"getOauthSubscriptionsActive","description":"🔒 Authenticated with OAuth bearer token\n\nReturns a list of active subscriptions for the user.","tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model21"},"description":"Successful"}}}},"/oauth/subscriptions/clients":{"get":{"summary":"/oauth/subscriptions/clients","operationId":"getOauthSubscriptionsClients","description":"🔒 Authenticated with OAuth bearer token","tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model23"},"description":"Successful"}}}},"/oauth/subscriptions/plans":{"get":{"summary":"/oauth/subscriptions/plans","operationId":"getOauthSubscriptionsPlans","description":"Returns a list of available subscription plans.","tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model25"},"description":"Successful"}}}},"/oauth/subscriptions/productname":{"get":{"summary":"/oauth/subscriptions/productname","operationId":"getOauthSubscriptionsProductname","parameters":[{"type":"string","name":"productId","in":"query","required":true}],"tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model26"},"description":"Successful"}}}},"/oauth/support-panel/subscriptions":{"get":{"summary":"/oauth/support-panel/subscriptions","operationId":"getOauthSupportpanelSubscriptions","description":"🔒 Authenticated with support panel secret","parameters":[{"type":"string","name":"uid","in":"query","required":true}],"tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model30"},"description":"Successful"}}}},"/password/forgot/status":{"get":{"summary":"/password/forgot/status","operationId":"getPasswordForgotStatus","description":"🔒 Authenticated with password forgot token\n\nReturns the status of a `passwordForgotToken`. Success responses indicate the token has not yet been consumed. For consumed or expired tokens, an HTTP `401` response with `errno: 110` will be returned.","tags":["Password"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model31"},"description":"Successful"}}}},"/oauth/mozilla-subscriptions/customer/billing-and-subscriptions":{"get":{"summary":"/oauth/mozilla-subscriptions/customer/billing-and-subscriptions","operationId":"getOauthMozillasubscriptionsCustomerBillingandsubscriptions","description":"🔒 Authenticated with OAuth bearer token","tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model32"},"description":"Successful"}}}},"/oauth/subscriptions/invoice/preview-subsequent":{"get":{"summary":"/oauth/subscriptions/invoice/preview-subsequent","operationId":"getOauthSubscriptionsInvoicePreviewsubsequent","description":"🔒 Authenticated with OAuth bearer token","tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model34"},"description":"Successful"}}}},"/oauth/mozilla-subscriptions/customer/plan-eligibility/{planId}":{"get":{"summary":"/oauth/mozilla-subscriptions/customer/plan-eligibility/{planid}","operationId":"getOauthMozillasubscriptionsCustomerPlaneligibilityPlanid","description":"🔒 Authenticated with OAuth bearer token\n\nGet eligibility for a given plan. Returns eligibility as 'create'|'upgrade'|'downgrade'|'blocked_iap'|'invalid'.","parameters":[{"type":"string","maxLength":255,"name":"planId","in":"path","required":true}],"tags":["Subscriptions"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/oauth/subscriptions/iap/plans/{appName}":{"get":{"summary":"/oauth/subscriptions/iap/plans/{appName}","operationId":"getOauthSubscriptionsIapPlansAppname","description":"Returns available plans for In-App Purchase clients.","parameters":[{"type":"string","name":"appName","in":"path","required":true}],"tags":["Subscriptions"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/authorized-clients":{"post":{"summary":"/v1/authorized-clients","operationId":"postAuthorizedclients","description":"This endpoint returns a list of all OAuth client instances connected to the user's account, including the the scopes granted to each client instance and the time at which it was last active, if available. It must be authenticated with an identity assertion for the user's account.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model37"}}],"tags":["OAuth Server API Overview"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model40"},"description":"A valid 200 response will be a JSON array.\n\nFor clients that use refresh tokens, each refresh token is taken to represent a separate instance of that client and is returned as a separate entry in the list, with the `refresh_token_id` field distinguishing each.\n\nFor clients that only use access tokens, all active access tokens are combined into a single entry in the list, and the `refresh_token_id` field will not be present.\n\n**Example:**\n``` js\n    [\n      {\n        \"client_id\": \"5901bd09376fadaa\",\n        \"refresh_token_id\": \"6e8c38f6a9c27dc0e4df698dc3e3e8b101ad6d79e87842b1ca96ad9b3cd8ed28\",\n        \"name\": \"Example Sync Client\",\n        \"created_time\": 1528334748000,\n        \"last_access_time\": 1528334748000,\n        \"scope\": [\"profile\", \"https://identity.mozilla.com/apps/oldsync\"]\n      },\n      {\n        \"client_id\": \"5901bd09376fadaa\",\n        \"refresh_token_id\": \"eb5e17f246a6b0937356412118ea12b67a638232d6b376e2511cf38a0c4eecf9\",\n        \"name\": \"Example Sync Client\",\n        \"created_time\": 1528334748000,\n        \"last_access_time\": 1528334834000,\n        \"scope\": [\"profile\", \"https://identity.mozilla.com/apps/oldsync\"]\n      },\n      {\n        \"client_id\": \"23d10a14f474ca41\",\n        \"name\": \"Example Website\",\n        \"created_time\": 1328334748000,\n        \"last_access_time\": 1476677854037,\n        \"scope\": [\"profile:email\", \"profile:uid\"]\n      }\n    ]\n```"}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -X POST \\\n \"https://oauth.accounts.firefox.com/v1/authorized-clients\" \\\n -H 'cache-control: no-cache' \\\n -H \"Content-Type: application/json\" \\\n -d '{\n  \"assertion\": \"eyJhbGciOiJSUzI1NiJ9.eyJwdWJsaWMta2V5Ijp7Imt0eSI6IlJTQSIsIm4iOiJvWmdsNkpwM0Iwcm5BVXppNThrdS1iT0RvR3ZuUGNnWU1UdXQ1WkpyQkJiazBCdWU4VUlRQ0dnYVdrYU5Xb29INkktMUZ6SXU0VFpZYnNqWGJ1c2JRRlQxOGREUkN6VVRubFlXdVZXUzhoSWhKc3lhZHJwSHJOVkI1VndmSlRKZVgwTjFpczBXcU1qdUdOc2VMLXluYnFjOVhueElncFJaai05QnZqY2ZKYXNOUTNZdHR3VHZVaFJOLVFGNWgxQkY1MnA2QmdOTVBvWmQ5MC1EU0xydlpseXp6MEh0Q2tFZnNsc013czVkR0ExTlZ1dEwtcGVDeU50VTFzOEtFaDlzcGxXeF9lQlFybTlYQU1kYXp5ZWR6VUpJU1UyMjZmQzhEUHh5c0ZreXpCbjlDQnFDQUpTNjQzTGFydUVDaS1rMGhKOWFmM2JXTmJnWmpSNVJ2NXF4THciLCJlIjoiQVFBQiJ9LCJwcmluY2lwYWwiOnsiZW1haWwiOiIwNjIxMzM0YzIwNjRjNmYzNmJlOGFkOWE0N2M1NTliY2FwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9LCJpYXQiOjE1MDY5Njk2OTU0MzksImV4cCI6MTUwNjk2OTY5NjQzOSwiZnhhLXZlcmlmaWVkRW1haWwiOiIzMjM2NzJiZUBtb3ppbGxhLmNvbSIsImlzcyI6ImFwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9.hFZd5zFheXOFrXKkJvw6Vpv2l7ctlxuBTvuh5f_jLPAjZoJ9ri-vaJjL_WYBFUvS2xHzfx3-ldxLddyTKwCDAJeB_NkOFL_WJSrMet9C7_Z1hH9HmydeXIT82xJmhrwzW-WOO4ibQvRbocEFiNujynKsg1gS8v0iiYjIX-0cXCrlkxkbVx_8EXJFKDDOGzK9v7Zq6D7gkhP-CHEaNYaTHMn65tLQtBS6snGdaXlxoGHMWmDL6STbnJzWa7sa4QwHf-AgT1rUkQQAUHNa_XLZ0FEzqiCPctMadlihiUZL2V6vxIDBS4mHUF4qj0FvIMJflivDnJVkRNijDuP-h-Lh_A~eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJvYXV0aC5meGEiLCJleHAiOjE1MDY5Njk2OTY0MzksImlzcyI6ImFwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9.M5xyk3RffucgaavjbUm7Eqnt47hzeGbGa2VR3jnVEIlRHfz5S25Qf3ngejwee7XECvIywbaKWeijXFOwS-EkB-7qP1gl4oNJjPmbnCk7S1lgckLWvdMIU-HLGKjrN6Mw76__LzvAbsusSeGmsvTCIVuOJ49Xs3tC1fLyB_re0QNpCcS6AUnJ1KOxIMEM3Om7ysNO5F_AqcD3PwlEti5lbwSk8iP5TWL12C2Nkb_6Hxze_mA1NZNAHOips9bF2J7oy1hqGoMYj1XYZrsyjpPWEuZQATAPlKSjbh1hq-UtDeT7DlwEmIbIUd3JA8qh1MkHKGgavd4fIMap0IPmr9rs4A\"\n}'"}]}},"/destroy":{"post":{"summary":"/v1/destroy","operationId":"postDestroy","description":"After a client is done using a token, the responsible thing to do is to destroy the token afterwards. A client can use this route to do so.\n\n**Request Parameters**\n- `token|access_token|refresh_token|refresh_token_id`: The hex string access token. By default, `token` is assumed to be the access token.","parameters":[{"type":"string","pattern":"^Basic\\s+([a-z0-9+\\/]+)$","name":"authorization","in":"header","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model41"}}],"tags":["OAuth Server API Overview"],"responses":{"200":{"description":"A valid request will return an empty response, with a 200 status code.","schema":{"type":"string"}}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -v \\\n -X POST \\\n -H \"Content-Type: application/json\" \\\n \"https://oauth.accounts.firefox.com/v1/destroy\" \\\n -d '{\n  \"token\": \"558f9980ad5a9c279beb52123653967342f702e84d3ab34c7f80427a6a37e2c0\"\n}'"}]}},"/get_random_bytes":{"post":{"summary":"/get_random_bytes","operationId":"postGet_random_bytes","description":"Get 32 bytes of random data. This should be combined with locally-sourced entropy when creating salts, etc.","tags":["Util"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/introspect":{"post":{"summary":"/v1/introspect","operationId":"postIntrospect","description":"This endpoint returns the status of the token and meta-information about this token.\n\nIf the token has attribute `active: false`, none of the other attributes in the response will have content","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model42"}}],"tags":["OAuth Server API Overview"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model43"},"description":"A valid request will return a JSON response.\n<br />\n**Example:**\n``` js\n    {\n      \"active\": true,\n      \"scope\": \"profile https://identity.mozilla.com/account/subscriptions\",\n      \"client_id\": \"59cceb6f8c32317c\",\n      \"token_type\": \"access_token\",\n      \"iat\": 1566535888243,\n      \"sub\": \"913fe9395bb946b48c1521d7beb2cb24\",\n      \"jti\": \"5ae05d8fe413a749e0f4eb3c495a1c526fb52c85ca5fde516df5dd77d41f7b5b\",\n      \"exp\": 1566537688243\n    }\n```"}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -X POST \\\n -H \"Content-Type: application/json\" \\\n \"https://oauth.accounts.firefox.com/v1/introspect\" \\\n -d '{\n  \"token\": \"558f9980ad5a9c279beb52123653967342f702e84d3ab34c7f80427a6a37e2c0\"\n}'"}]}},"/key-data":{"post":{"summary":"/v1/key-data","operationId":"postKeydata","description":"This endpoint returns the required scoped key metadata.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model44"}}],"tags":["OAuth Server API Overview"],"responses":{"200":{"schema":{"type":"object","properties":{"string":{"$ref":"#/definitions/Model45"}}},"description":"A valid response will return JSON the scoped key information for every scope that has scoped keys.\n<br />\n**Example:**\n``` js\n    {\n      \"https://identity.mozilla.com/apps/sample-scope-can-scope-key\": {\n        \"identifier\": \"https://identity.mozilla.com/apps/sample-scope-can-scope-key\",\n        \"keyRotationSecret\": \"0000000000000000000000000000000000000000000000000000000000000000\",\n        \"keyRotationTimestamp\": 1506970363512\n      }\n    }\n```"}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -X POST \\\n \"https://oauth.accounts.firefox.com/v1/key-data\" \\\n  -H 'cache-control: no-cache' \\\n  -H 'content-type: application/json' \\\n  -d '{\n   \"client_id\": \"5901bd09376fadaa\",\n   \"assertion\": \"eyJhbGciOiJSUzI1NiJ9.eyJwdWJsaWMta2V5Ijp7Imt0eSI6IlJTQSIsIm4iOiJvWmdsNkpwM0Iwcm5BVXppNThrdS1iT0RvR3ZuUGNnWU1UdXQ1WkpyQkJiazBCdWU4VUlRQ0dnYVdrYU5Xb29INkktMUZ6SXU0VFpZYnNqWGJ1c2JRRlQxOGREUkN6VVRubFlXdVZXUzhoSWhKc3lhZHJwSHJOVkI1VndmSlRKZVgwTjFpczBXcU1qdUdOc2VMLXluYnFjOVhueElncFJaai05QnZqY2ZKYXNOUTNZdHR3VHZVaFJOLVFGNWgxQkY1MnA2QmdOTVBvWmQ5MC1EU0xydlpseXp6MEh0Q2tFZnNsc013czVkR0ExTlZ1dEwtcGVDeU50VTFzOEtFaDlzcGxXeF9lQlFybTlYQU1kYXp5ZWR6VUpJU1UyMjZmQzhEUHh5c0ZreXpCbjlDQnFDQUpTNjQzTGFydUVDaS1rMGhKOWFmM2JXTmJnWmpSNVJ2NXF4THciLCJlIjoiQVFBQiJ9LCJwcmluY2lwYWwiOnsiZW1haWwiOiIwNjIxMzM0YzIwNjRjNmYzNmJlOGFkOWE0N2M1NTliY2FwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9LCJpYXQiOjE1MDY5Njk2OTU0MzksImV4cCI6MTUwNjk2OTY5NjQzOSwiZnhhLXZlcmlmaWVkRW1haWwiOiIzMjM2NzJiZUBtb3ppbGxhLmNvbSIsImlzcyI6ImFwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9.hFZd5zFheXOFrXKkJvw6Vpv2l7ctlxuBTvuh5f_jLPAjZoJ9ri-vaJjL_WYBFUvS2xHzfx3-ldxLddyTKwCDAJeB_NkOFL_WJSrMet9C7_Z1hH9HmydeXIT82xJmhrwzW-WOO4ibQvRbocEFiNujynKsg1gS8v0iiYjIX-0cXCrlkxkbVx_8EXJFKDDOGzK9v7Zq6D7gkhP-CHEaNYaTHMn65tLQtBS6snGdaXlxoGHMWmDL6STbnJzWa7sa4QwHf-AgT1rUkQQAUHNa_XLZ0FEzqiCPctMadlihiUZL2V6vxIDBS4mHUF4qj0FvIMJflivDnJVkRNijDuP-h-Lh_A~eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJvYXV0aC5meGEiLCJleHAiOjE1MDY5Njk2OTY0MzksImlzcyI6ImFwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9.M5xyk3RffucgaavjbUm7Eqnt47hzeGbGa2VR3jnVEIlRHfz5S25Qf3ngejwee7XECvIywbaKWeijXFOwS-EkB-7qP1gl4oNJjPmbnCk7S1lgckLWvdMIU-HLGKjrN6Mw76__LzvAbsusSeGmsvTCIVuOJ49Xs3tC1fLyB_re0QNpCcS6AUnJ1KOxIMEM3Om7ysNO5F_AqcD3PwlEti5lbwSk8iP5TWL12C2Nkb_6Hxze_mA1NZNAHOips9bF2J7oy1hqGoMYj1XYZrsyjpPWEuZQATAPlKSjbh1hq-UtDeT7DlwEmIbIUd3JA8qh1MkHKGgavd4fIMap0IPmr9rs4A\",\n   \"scope\": \"https://identity.mozilla.com/apps/sample-scope-can-scope-key\"\n}'"}]}},"/newsletters":{"post":{"summary":"/newsletters","operationId":"postNewsletters","description":"🔒 Authenticated with OAuth bearer token or authenticated with session token","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model46"}}],"tags":["Miscellaneous"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/recoveryKey":{"post":{"summary":"/recoveryKey","operationId":"postRecoverykey","description":"🔒 Authenticated with session token\n\nCreates a new account recovery key for a user. Account recovery keys are one-time-use tokens that can be used to recover the user's kB if they forget their password. For more details, see the [account recovery keys](https://github.com/mozilla/fxa/blob/main/packages/fxa-auth-server/docs/recovery_keys.md) docs.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model47"}}],"tags":["Account recovery key"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"delete":{"summary":"/recoveryKey","operationId":"deleteRecoverykey","description":"🔒 Authenticated with session token<br/><br/>This route remove an account's account recovery key. When the key is removed, it can no longer be used to restore an account's kB.","tags":["Account recovery key"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/recovery_email":{"post":{"summary":"/recovery_email","operationId":"postRecovery_email","description":"🔒 Authenticated with session token\nAdd a secondary email address to the logged-in account. The created address will be unverified and will not replace the primary email address.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model48"}}],"tags":["Emails"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 104` - Unverified account\n- `errno: 138` - Unverified session\n- `errno: 139` - Can not add secondary email that is same as your primary\n- `errno: 140` - Email already exists\n- `errno: 141` - Email already exists"}}}},"/token":{"post":{"summary":"/v1/token","operationId":"postToken","description":"After receiving an authorization grant from the user, clients exercise that grant at this endpoint to obtain tokens that can be used to access attached services for a particular user.\n\nThe following types of grant are possible:\n\n- `authorization_code`: a single-use code as produced by the [authorization][] endpoint, obtained through a redirect-based authorization flow.\n- `refresh_token`: a token previously obtained from this endpoint when using access_type=offline.\n- `fxa-credentials`: an FxA identity assertion, obtained by directly authenticating the user's account.\n\n**WARNING**: Do not include `scope` unless you want to downgrade it.","parameters":[{"type":"string","pattern":"^Basic\\s+([a-z0-9+\\/]+)$","name":"authorization","in":"header","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model49"}}],"tags":["OAuth Server API Overview"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model50"},"description":"A valid request will return a JSON response.\n<br />\n**Example:**\n``` js\n    {\n      \"access_token\": \"558f9980ad5a9c279beb52123653967342f702e84d3ab34c7f80427a6a37e2c0\",\n      \"scope\": \"profile:email profile:avatar\",\n      \"token_type\": \"bearer\",\n      \"expires_in\": 3600,\n      \"refresh_token\": \"58d59cc97c3ca183b3a87a65eec6f93d5be051415b53afbf8491cc4c45dbb0c6\",\n      \"auth_at\": 1422336613\n    }\n```"}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -v \\\n -X POST \\\n -H \"Content-Type: application/json\" \\\n \"https://oauth.accounts.firefox.com/v1/token\" \\\n -d '{\n  \"client_id\": \"5901bd09376fadaa\",\n  \"client_secret\": \"20c6882ef864d75ad1587c38f9d733c80751d2cbc8614e30202dc3d1d25301ff\",\n  \"ttl\": 3600,\n  \"grant_type\": \"authorization_code\",\n  \"code\": \"4ab433e31ef3a7cf7c20590f047987922b5c9ceb1faff56f0f8164df053dd94c\"\n}'"}]}},"/verify":{"post":{"summary":"/v1/verify","operationId":"postVerify","description":"Attached services can post tokens to this endpoint to learn about which user and scopes are permitted for the token.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model51"}}],"tags":["OAuth Server API Overview"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model52"},"description":"A valid request will return a JSON response.\n\n- Note: `email` of the respective user has been **REMOVED**.\n\n**Example:**\n``` js\n    {\n      \"user\": \"5901bd09376fadaa076afacef5251b6a\",\n      \"client_id\": \"45defeda038a1c92\",\n      \"scope\": [\"profile:email\", \"profile:avatar\"],\n    }\n```"}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -v \\\n -X POST \\\n -H \"Content-Type: application/json\" \\\n \"https://oauth.accounts.firefox.com/v1/verify\" \\\n -d '{\n  \"token\": \"558f9980ad5a9c279beb52123653967342f702e84d3ab34c7f80427a6a37e2c0\"\n}'"}]}},"/account/create":{"post":{"summary":"/account/create","operationId":"postAccountCreate","description":"Creates a user account. The client provides the email address with which this account will be associated and a stretched password. Stretching is detailed on the [onepw](https://mozilla.github.io/ecosystem-platform/explanation/onepw-protocol#client-side-key-stretching) wiki page.\n\nThis endpoint may send a verification email to the user. Callers may optionally provide the `service` parameter to indicate which service they are acting on behalf of. This is an opaque alphanumeric token that will be embedded in the verification link as a query parameter.\n\nCreating an account also logs in. The response contains a `sessionToken` and, optionally, a `keyFetchToken` if the url has a query parameter of `keys=true`.","parameters":[{"type":"boolean","description":"Indicates whether a key-fetch token should be returned in the success response.","name":"keys","in":"query","required":false},{"type":"string","description":"Opaque alphanumeric token to be included in verification links.","maxLength":16,"pattern":"^[a-zA-Z0-9\\-]*$","name":"service","in":"query"},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model53"}}],"tags":["Account"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model54"},"description":"Successful"},"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 101` - Account already exists\n- `errno: 144` - Email already exists"}}}},"/account/destroy":{"post":{"summary":"/account/destroy","operationId":"postAccountDestroy","description":"🔒🔓 Optionally authenticated with session token\n\nDeletes an account. All stored data is erased. The client should seek user confirmation first. The client should erase data stored on any attached services before deleting the user's account data.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model55"}}],"tags":["Account"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 103` - Incorrect password\n- `errno: 138` - Unverified session"}}}},"/account/device":{"post":{"summary":"/account/device","operationId":"postAccountDevice","description":"🔒 Authenticated with session token or OAuth refresh token\n\nCreates or updates the [device registration](https://github.com/mozilla/fxa/blob/main/packages/fxa-auth-server/docs/device_registration.md) record associated with the auth token used for this request. At least one of `name`, `type`, `pushCallback` or the tuple `{ pushCallback, pushPublicKey, pushAuthKey }` must be present. Beware that if you provide `pushCallback` without the pair `{ pushPublicKey, pushAuthKey }`, both of those keys will be reset to the empty string.\n\n`pushEndpointExpired` will be reset to false on update if the tuple `{ pushCallback, pushPublicKey, pushAuthKey }` is specified.\n\nDevices should register with this endpoint before attempting to access the user's sync data, so that an appropriate device name can be made available to other connected devices.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model56"}}],"tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model57"},"description":"Successful"},"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 107` - Invalid parameter in request body"},"503":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 202` - Feature not enabled"}}}},"/account/finish_setup":{"post":{"summary":"/account/finish_setup","operationId":"postAccountFinish_setup","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model58"}}],"tags":["Account"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/account/login":{"post":{"summary":"/account/login","operationId":"postAccountLogin","description":"Obtain a `sessionToken` and, optionally, a `keyFetchToken` if `keys=true`.","parameters":[{"type":"boolean","description":"Indicates whether a key-fetch token should be returned in the success response.","name":"keys","in":"query","required":false},{"type":"string","description":"Opaque alphanumeric token to be included in verification links.","maxLength":16,"pattern":"^[a-zA-Z0-9\\-]*$","name":"service","in":"query"},{"type":"string","description":"If this param is specified, it forces the login to be verified using the specified method.\nCurrently supported methods:\n- `email`: Sends an email with a confirmation link.\n- `email-2fa`: Sends an email with a confirmation code.\n- `email-captcha`: Sends an email with an unblock code.","enum":["email","email-otp","email-2fa","email-captcha","totp-2fa"],"name":"verificationMethod","in":"query","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model59"}}],"tags":["Account"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model60"},"description":"Successful"},"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 102` - Unknown account\n- `errno: 103` - Incorrect password\n- `errno: 125` - The request was blocked for security reasons\n- `errno: 127` - Invalid unblock code\n- `errno: 142` - Sign in with this email type is not currently supported\n- `errno: 149` - This email can not currently be used to login\n- `errno: 160` - This request requires two step authentication enabled on your account"},"422":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 151` - Failed to send email"}}}},"/account/reset":{"post":{"summary":"/account/reset","operationId":"postAccountReset","description":"🔒 Authenticated with account reset token\n\nThis sets the account password and resets `wrapKb` to a new random value.\n\nAccount reset tokens are single-use and consumed regardless of whether the request succeeds or fails. They are returned by the `POST /password/forgot/verify_code` endpoint.\n\nThe caller can optionally request a new `sessionToken` and `keyFetchToken`.","parameters":[{"type":"boolean","description":"Indicates whether a new `keyFetchToken` is required, default to `false`.","name":"keys","in":"query","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model61"}}],"tags":["Account"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 108` - Missing parameter in request body"}}}},"/account/scoped-key-data":{"post":{"summary":"/account/scoped-key-data","operationId":"postAccountScopedkeydata","description":"🔒 Authenticated with session token\n\nQuery for the information required to derive scoped encryption keys requested by the specified OAuth client.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model62"}}],"tags":["Oauth"],"responses":{"200":{"schema":{"type":"object","properties":{"any":{"$ref":"#/definitions/any"}}},"description":"Successful"}}}},"/account/set_password":{"post":{"summary":"/account/set_password","operationId":"postAccountSet_password","description":"🔒🔓 Authenticated with oauth access token.\n\nSets the password on an unverified stub account.\n\nBy default, a verification email will be sent.\n\nIf the user is subscribed to a product, and we find a valid, matching Stripe productId, they will be added to a list to receive verification reminder emails.","parameters":[{"type":"boolean","description":"Boolean indicating whether a verification email should be sent.","default":true,"name":"sendVerifyEmail","in":"query","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model63"}}],"tags":["Account"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model64"},"description":"Successful"},"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 110` - Invalid token (token already used)"}}}},"/account/stub":{"post":{"summary":"/account/stub","operationId":"postAccountStub","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model67"}}],"tags":["Account"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/authorized-clients/destroy":{"post":{"summary":"/v1/authorized-clients/destroy","operationId":"postAuthorizedclientsDestroy","description":"This endpoint revokes tokens granted to a given client. It must be authenticated with an identity assertion for the user's account.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model68"}}],"tags":["OAuth Server API Overview"],"responses":{"200":{"description":"A valid 200 response will return an empty JSON object.","schema":{"type":"string"}}},"x-codeSamples":[{"lang":"JavaScript","source":"curl -X POST \\\n \"https://oauth.accounts.firefox.com/v1/authorized-clients/destroy \\\n -H 'cache-control: no-cache' \\\n -H 'content-type: application/json' \\\n -d '{\n  \"client_id\": \"5901bd09376fadaa\",\n  \"refresh_token_id\": \"6e8c38f6a9c27dc0e4df698dc3e3e8b101ad6d79e87842b1ca96ad9b3cd8ed28\",\n  \"assertion\": \"eyJhbGciOiJSUzI1NiJ9.eyJwdWJsaWMta2V5Ijp7Imt0eSI6IlJTQSIsIm4iOiJvWmdsNkpwM0Iwcm5BVXppNThrdS1iT0RvR3ZuUGNnWU1UdXQ1WkpyQkJiazBCdWU4VUlRQ0dnYVdrYU5Xb29INkktMUZ6SXU0VFpZYnNqWGJ1c2JRRlQxOGREUkN6VVRubFlXdVZXUzhoSWhKc3lhZHJwSHJOVkI1VndmSlRKZVgwTjFpczBXcU1qdUdOc2VMLXluYnFjOVhueElncFJaai05QnZqY2ZKYXNOUTNZdHR3VHZVaFJOLVFGNWgxQkY1MnA2QmdOTVBvWmQ5MC1EU0xydlpseXp6MEh0Q2tFZnNsc013czVkR0ExTlZ1dEwtcGVDeU50VTFzOEtFaDlzcGxXeF9lQlFybTlYQU1kYXp5ZWR6VUpJU1UyMjZmQzhEUHh5c0ZreXpCbjlDQnFDQUpTNjQzTGFydUVDaS1rMGhKOWFmM2JXTmJnWmpSNVJ2NXF4THciLCJlIjoiQVFBQiJ9LCJwcmluY2lwYWwiOnsiZW1haWwiOiIwNjIxMzM0YzIwNjRjNmYzNmJlOGFkOWE0N2M1NTliY2FwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9LCJpYXQiOjE1MDY5Njk2OTU0MzksImV4cCI6MTUwNjk2OTY5NjQzOSwiZnhhLXZlcmlmaWVkRW1haWwiOiIzMjM2NzJiZUBtb3ppbGxhLmNvbSIsImlzcyI6ImFwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9.hFZd5zFheXOFrXKkJvw6Vpv2l7ctlxuBTvuh5f_jLPAjZoJ9ri-vaJjL_WYBFUvS2xHzfx3-ldxLddyTKwCDAJeB_NkOFL_WJSrMet9C7_Z1hH9HmydeXIT82xJmhrwzW-WOO4ibQvRbocEFiNujynKsg1gS8v0iiYjIX-0cXCrlkxkbVx_8EXJFKDDOGzK9v7Zq6D7gkhP-CHEaNYaTHMn65tLQtBS6snGdaXlxoGHMWmDL6STbnJzWa7sa4QwHf-AgT1rUkQQAUHNa_XLZ0FEzqiCPctMadlihiUZL2V6vxIDBS4mHUF4qj0FvIMJflivDnJVkRNijDuP-h-Lh_A~eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJvYXV0aC5meGEiLCJleHAiOjE1MDY5Njk2OTY0MzksImlzcyI6ImFwaS5hY2NvdW50cy5maXJlZm94LmNvbSJ9.M5xyk3RffucgaavjbUm7Eqnt47hzeGbGa2VR3jnVEIlRHfz5S25Qf3ngejwee7XECvIywbaKWeijXFOwS-EkB-7qP1gl4oNJjPmbnCk7S1lgckLWvdMIU-HLGKjrN6Mw76__LzvAbsusSeGmsvTCIVuOJ49Xs3tC1fLyB_re0QNpCcS6AUnJ1KOxIMEM3Om7ysNO5F_AqcD3PwlEti5lbwSk8iP5TWL12C2Nkb_6Hxze_mA1NZNAHOips9bF2J7oy1hqGoMYj1XYZrsyjpPWEuZQATAPlKSjbh1hq-UtDeT7DlwEmIbIUd3JA8qh1MkHKGgavd4fIMap0IPmr9rs4A\",\n}'"}]}},"/certificate/sign":{"post":{"summary":"/certificate/sign","operationId":"postCertificateSign","description":"🔒 Authenticated with session token\n\nSign a BrowserID public key. The server is given a public key and returns a signed certificate using the same JWT-like mechanism as a BrowserID primary IdP would (see [browserid-certifier](https://github.com/mozilla/browserid-certifier) for details). The signed certificate includes a `principal.email` property to indicate the Firefox Account identifier (a UUID at the account server's primary domain) and is stamped with an expiry time based on the `duration` parameter.\n\nThis request will fail unless the primary email address for the account has been verified.\n\nClients should include a query parameter, `service`, for metrics and validation purposes. The value of `service` should be `sync` when connecting to Firefox Sync or the OAuth `client_id` when connecting to an OAuth relier.\n\nIf you do not specify a `service parameter`, or if you specify `service=sync`, this endpoint assumes the request is from a legacy Sync client. If the session token doesn't have a corresponding device record, one will be created automatically by the server.\n\nThe signed certificate includes these additional claims:\n\n  - `fxa-generation`: A number that increases each time the user's password is changed.\n  - `fxa-keysChangedAt`: A timestamp that increases each time the user's encryption key is changed.\n  - `fxa-profileChangedAt`: A timestamp that increases each time the user's core profile data is changed.\n  - `fxa-lastAuthAt`: Authentication time for this session, in seconds since epoch.\n  - `fxa-verifiedEmail`: The user's verified recovery email address.\n  - `fxa-tokenVerified`: A boolean indicating whether the user's login was verified using an email confirmation or 2FA in addition to their password.\n  - `fxa-amr`: A list of strings giving the ways in which the user was authenticated. Possible values include:\n    - `pwd`: the user provided the account password\n    - `email`: the user completed an email confirmation loop\n    - `otp`: the user completed a 2FA challenge\n  - `fxa-aal`: An integer giving the authenticator assurance level at which the user was authenticated - that is, the number of independent auth factors that they provided during login.","parameters":[{"type":"string","maxLength":16,"pattern":"^[a-zA-Z0-9\\-]*$","name":"service","in":"query","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model69"}}],"tags":["Sign"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 104` - Unverified account\n- `errno: 108` - Missing parameter in request body\n- `errno: 138` - Unverified session"}}}},"/linked_account/login":{"post":{"summary":"/linked_account/login","operationId":"postLinked_accountLogin","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model70"}}],"tags":["Third Party Authentication"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/linked_account/unlink":{"post":{"summary":"/linked_account/unlink","operationId":"postLinked_accountUnlink","description":"🔒 Authenticated with session token","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model71"}}],"tags":["Third Party Authentication"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/oauth/authorization":{"post":{"summary":"/oauth/authorization","operationId":"postOauthAuthorization","description":"🔒 Authenticated with session token\n\nAuthorize a new OAuth client connection to the user's account, returning a short-lived authentication code that the client can exchange for access tokens at the OAuth token endpoint.\n\nThis route behaves like the oauth-server /authorization endpoint except that it is authenticated directly with a sessionToken rather than with a BrowserID assertion.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model72"}}],"tags":["Oauth"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model73"},"description":"Successful"}}}},"/oauth/destroy":{"post":{"summary":"/oauth/destroy","operationId":"postOauthDestroy","description":"Destroy an OAuth access token or refresh token.\n\nThis is the \"token revocation endpoint\" as defined in RFC7009 and should be used by clients to explicitly revoke any OAuth tokens that they are no longer using.","parameters":[{"type":"string","pattern":"^Basic\\s+([a-z0-9+\\/]+)$","name":"authorization","in":"header","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model74"}}],"tags":["Oauth"],"responses":{"200":{"description":"No information is returned in the response body.","schema":{"type":"string"}},"401":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 171` - Incorrect client secret"},"500":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 162` - Unknown client id."}}}},"/oauth/id-token-verify":{"post":{"summary":"/oauth/id-token-verify","operationId":"postOauthIdtokenverify","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model75"}}],"tags":["Miscellaneous"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model76"},"description":"Successful"}}}},"/oauth/token":{"post":{"summary":"/oauth/token","operationId":"postOauthToken","description":"🔒🔓 Optionally authenticated with session token\n\nGrant new OAuth tokens for use by a connected client, using one of the following grant types:\n  - `grant_type=authorization_code`: A single-use code obtained via OAuth redirect flow.\n  - `grant_type=refresh_token`: A refresh token issued by a previous call to this endpoint.\n  - `grant_type=fxa-credentials`: Directly grant tokens using an FxA sessionToken.\n\nThis is the \"token endpoint\" as defined in RFC6749, and behaves like the [oauth-server /token endpoint](#tag/OAuth-Server-API-Overview/operation/postToken) except that the `fxa-credentials` grant can be authenticated directly with a sessionToken rather than with a BrowserID assertion.","parameters":[{"x-alternatives":[{"$ref":"#/x-alt-definitions/Model1"},{"$ref":"#/x-alt-definitions/Model2"},{"$ref":"#/x-alt-definitions/Model3"}],"in":"body","name":"body","schema":{"$ref":"#/definitions/Model77"}}],"tags":["Oauth"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model78","x-alternatives":[{"$ref":"#/x-alt-definitions/Model4"},{"$ref":"#/x-alt-definitions/Model5"},{"$ref":"#/x-alt-definitions/Model6"}]},"description":"Successful"},"401":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 110` - Invalid authentication token in request signature"},"500":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 998` - An internal validation check failed"}}}},"/password/create":{"post":{"summary":"/password/create","operationId":"postPasswordCreate","description":"🔒 Authenticated with session token\n\nCreates a new password for the user associated with the session token. Creating a new password will generate new encryption key.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model79"}}],"tags":["Password"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/recoveryKey/exists":{"post":{"summary":"/recoveryKey/exists","operationId":"postRecoverykeyExists","description":"🔒🔓 Optionally authenticated with session token<br/><br/>This route checks to see if given user has setup an account recovery key. When used during the password reset flow, an email can be provided (instead of a sessionToken) to check for the status. However, when using an email, the request is rate limited.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model80"}}],"tags":["Account recovery key"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model81"},"description":"Successful"}}}},"/recoveryKey/verify":{"post":{"summary":"/recoveryKey/verify","operationId":"postRecoverykeyVerify","description":"🔒 Authenticated with session token","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model82"}}],"tags":["Account recovery key"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/recovery_email/destroy":{"post":{"summary":"/recovery_email/destroy","operationId":"postRecovery_emailDestroy","description":"🔒 Authenticated with session token\n\nDelete an email address associated with the logged-in user.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model83"}}],"tags":["Emails"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 138` - Unverified session"}}}},"/recovery_email/resend_code":{"post":{"summary":"/recovery_email/resend_code","operationId":"postRecovery_emailResend_code","description":"🔒 Authenticated with session token\n\nRe-sends a verification code to the account's recovery email address. The code is first sent when the account is created, but if the user thinks the message was lost or accidentally deleted, they can request a new message to be sent via this endpoint. The new message will contain the same code as the original message. When this code is provided to `/v1/recovery_email/verify_code`, the email will be marked as 'verified'.\n\nThis endpoint may send a verification email to the user. Callers may optionally provide the `service` parameter to indicate what identity-attached service they're acting on behalf of. This is an opaque alphanumeric token that will be embedded in the verification link as a query parameter.","parameters":[{"type":"string","description":"Opaque alphanumeric token to be included in verification links.","maxLength":16,"pattern":"^[a-zA-Z0-9\\-]*$","name":"service","in":"query"},{"type":"string","enum":["upgradeSession"],"maxLength":32,"x-format":{"alphanum":true},"name":"type","in":"query","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model84"}}],"tags":["Emails"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 150` - Can not resend email code to an email that does not belong to this account"}}}},"/recovery_email/set_primary":{"post":{"summary":"/recovery_email/set_primary","operationId":"postRecovery_emailSet_primary","description":"🔒 Authenticated with session token\n\nThis endpoint changes a user's primary email address. This email address must belong to the user and be verified.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model85"}}],"tags":["Emails"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 138` - Unverified session\n- `errno: 147` - Can not change primary email to an unverified email\n- `errno: 148` - Can not change primary email to an email that does not belong to this account"}}}},"/recovery_email/verify_code":{"post":{"summary":"/recovery_email/verify_code","operationId":"postRecovery_emailVerify_code","description":"Verify tokens and/or recovery emails for an account. If a valid token code is detected, the account email and tokens will be set to verified. If a valid email code is detected, the email will be marked as verified.\n\nThe verification code will be a random token, delivered in the fragment identifier of a URL sent to the user's email address. Navigating to the URL opens a page that extracts the code from the fragment identifier and performs a POST to `/recovery_email/verify_code`. The link can be clicked from any browser, not just the one being attached to the Firefox account.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model86"}}],"tags":["Emails"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 105` - Invalid verification code"}}}},"/session/destroy":{"post":{"summary":"/session/destroy","operationId":"postSessionDestroy","description":"🔒 Authenticated with session token\n\nDestroys the current session and invalidates `sessionToken`, to be called when a user signs out. To sign back in, a call must be made to `POST /account/login` to obtain a new `sessionToken`.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model87"}}],"tags":["Session"],"responses":{"401":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 110` - Invalid authentication token in request signature"}}}},"/session/duplicate":{"post":{"summary":"/session/duplicate","operationId":"postSessionDuplicate","description":"🔒 Authenticated with session token\n\nCreate a new `sessionToken` that duplicates the current session. It will have the same verification status as the current session, but will have a distinct verification code.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model88"}}],"tags":["Session"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/session/reauth":{"post":{"summary":"/session/reauth","operationId":"postSessionReauth","description":"🔒 Authenticated with session token\n\nRe-authenticate an existing session token. This is equivalent to calling `/account/login`, but it re-uses an existing session token rather than generating a new one, allowing the caller to maintain session state such as verification and device registration.","parameters":[{"type":"boolean","name":"keys","in":"query","required":false},{"type":"string","maxLength":16,"pattern":"^[a-zA-Z0-9\\-]*$","name":"service","in":"query"},{"type":"string","enum":["email","email-otp","email-2fa","email-captcha","totp-2fa"],"name":"verificationMethod","in":"query","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model89"}}],"tags":["Session"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model90"},"description":"Successful"},"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 102` - Unknown account\n- `errno: 103` - Incorrect password\n- `errno: 125` - The request was blocked for security reasons\n- `errno: 127` - Invalid unblock code\n- `errno: 142` - Sign in with this email type is not currently supported\n- `errno: 149` - This email can not currently be used to login\n- `errno: 160` - This request requires two-step authentication enabled on your account"}}}},"/session/resend_code":{"post":{"summary":"/session/resend_code","operationId":"postSessionResend_code","description":"🔒 Authenticated with session token","tags":["Session"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/session/verify_code":{"post":{"summary":"/session/verify_code","operationId":"postSessionVerify_code","description":"🔒 Authenticated with session token","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model91"}}],"tags":["Session"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/support/ticket":{"post":{"summary":"/support/ticket","operationId":"postSupportTicket","description":"🔒 Authenticated with support secret or authenticated with OAuth bearer token","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model92"}}],"tags":["Miscellaneous"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model93"},"description":"Successful"}}}},"/totp/create":{"post":{"summary":"/totp/create","operationId":"postTotpCreate","description":"🔒 Authenticated with session token\n\nCreate a new randomly generated TOTP token for a user if they do not currently have one.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model94"}}],"tags":["totp"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model95"},"description":"Successful"}}}},"/totp/destroy":{"post":{"summary":"/totp/destroy","operationId":"postTotpDestroy","description":"🔒 Authenticated with session token\n\nDeletes the current TOTP token for the user.","tags":["totp"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/account/attached_client/destroy":{"post":{"summary":"/account/attached_client/destroy","operationId":"postAccountAttached_clientDestroy","description":"🔒 Authenticated with session token\n\nDestroy all tokens held by a connected client, disconnecting it from the user's account.\n\nThis endpoint is designed to be used in conjunction with [/account/attached_clients](#tag/Devices-and-Sessions/operation/getAccountAttached_clients). It accepts as the request body an object in the same format as returned by that endpoing, and will disconnect that client from the user's account.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model96"}}],"tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/subscriptionsByClientId"},"description":"Successful"}}}},"/account/device/destroy":{"post":{"summary":"/account/device/destroy","operationId":"postAccountDeviceDestroy","description":"🔒 Authenticated with session token or authenticated with OAuth refresh token\n\nDestroys a device record and the associated `sessionToken` for the authenticated user.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model97"}}],"tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/subscriptionsByClientId"},"description":"Successful"}}}},"/account/devices/invoke_command":{"post":{"summary":"/account/devices/invoke_command","operationId":"postAccountDevicesInvoke_command","description":"🔒 Authenticated with session token or authenticated with OAuth refresh token.\n\nEnqueues a command to be invoked on a target device.\n\nFor more details, see the [device registration](https://github.com/mozilla/fxa/blob/main/packages/fxa-auth-server/docs/device_registration.md) docs.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model98"}}],"tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model99"},"description":"Successful"},"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 157` - Unavailable device command"}}}},"/account/devices/notify":{"post":{"summary":"/account/devices/notify","operationId":"postAccountDevicesNotify","description":"🔒 Authenticated with session token or authenticated with OAuth refresh token.\n\nNotifies a set of devices associated with the user's account of an event by sending a browser push notification. A typical use case would be to send a notification to another device after sending a tab with Sync, so it can sync too and display the tab in a timely manner.","parameters":[{"x-alternatives":[{"$ref":"#/x-alt-definitions/Model7"},{"$ref":"#/x-alt-definitions/Model9"}],"in":"body","name":"body","schema":{"$ref":"#/definitions/Model101"}}],"tags":["Devices and Sessions"],"responses":{"200":{"schema":{"$ref":"#/definitions/subscriptionsByClientId"},"description":"Successful"},"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 107` - Invalid parameter in request body"},"503":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 202` - Feature not enabled"}}}},"/account/login/reject_unblock_code":{"post":{"summary":"/account/login/reject_unblock_code","operationId":"postAccountLoginReject_unblock_code","description":"Used to reject and report unblock codes that were not requested by the user.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model102"}}],"tags":["Unblock codes"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/account/login/send_unblock_code":{"post":{"summary":"/account/login/send_unblock_code","operationId":"postAccountLoginSend_unblock_code","description":"Send an unblock code via email to reset rate-limiting for an account.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model103"}}],"tags":["Unblock codes"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/account/unlock/resend_code":{"post":{"summary":"/account/unlock/resend_code","operationId":"postAccountUnlockResend_code","description":"This endpoint is deprecated.","tags":["Account"],"responses":{"410":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 116` - This endpoint is no longer supported"}},"deprecated":true}},"/account/unlock/verify_code":{"post":{"summary":"/account/unlock/verify_code","operationId":"postAccountUnlockVerify_code","description":"This endpoint is deprecated.","tags":["Account"],"responses":{"410":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 116` - This endpoint is no longer supported"}},"deprecated":true}},"/emails/reminders/cad":{"post":{"summary":"/emails/reminders/cad","operationId":"postEmailsRemindersCad","description":"🔒 Authenticated with session token","tags":["Emails"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/oauth/subscriptions/coupon":{"post":{"summary":"/oauth/subscriptions/coupon","operationId":"postOauthSubscriptionsCoupon","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model104"}}],"tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model105"},"description":"Successful"}}}},"/oauth/subscriptions/customer":{"post":{"summary":"/oauth/subscriptions/customer","operationId":"postOauthSubscriptionsCustomer","description":"🔒 Authenticated with OAuth bearer token\n\nCreate a new customer object for use with subscription payments.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model106"}}],"tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model112"},"description":"Successful"}}}},"/oauth/subscriptions/paypal-checkout":{"post":{"summary":"/oauth/subscriptions/paypal-checkout","operationId":"postOauthSubscriptionsPaypalcheckout","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model113"}}],"tags":["Subscriptions"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model114"},"description":"Successful"}}}},"/oauth/subscriptions/reactivate":{"post":{"summary":"/oauth/subscriptions/reactivate","operationId":"postOauthSubscriptionsReactivate","description":"🔒 Authenticated with OAuth bearer token","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model115"}}],"tags":["Subscriptions"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/password/change/finish":{"post":{"summary":"/password/change/finish","operationId":"postPasswordChangeFinish","description":"🔒 Authenticated with password change token\n\nChange the password and update `wrapKb`. Optionally returns `sessionToken` and `keyFetchToken`.","parameters":[{"type":"boolean","description":"Indicates whether a new `keyFetchToken` is required, default to `false`.","name":"keys","in":"query","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model116"}}],"tags":["Password"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 138` - Unverified session"}}}},"/password/change/start":{"post":{"summary":"/password/change/start","operationId":"postPasswordChangeStart","description":"Begin the \"change password\" process. Returns a single-use `passwordChangeToken`, to be sent to `POST /password/change/finish`. Also returns a single-use `keyFetchToken`.","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model117"}}],"tags":["Password"],"responses":{"400":{"description":"Failing requests may be caused by the following errors (this is not an exhaustive list):\n- `errno: 103` - Incorrect password"}}}},"/password/forgot/resend_code":{"post":{"summary":"/password/forgot/resend_code","operationId":"postPasswordForgotResend_code","description":"🔒 Authenticated with password forgot token\n\nResends the email from `POST /password/forgot/send_code`, for use when the original email has been lost or accidentally deleted.\n\nThis endpoint requires the `passwordForgotToken` returned in the original response, so only the original client which started the process may request a resent message. The response will match that from `POST /password/forgot/send_code`, except `ttl` will be lower to indicate the shorter validity period. `tries` will also be lower if `POST /password/forgot/verify_code` has been called.","parameters":[{"type":"string","description":"Identifies the relying service the user was interacting with that triggered the password reset.","maxLength":16,"pattern":"^[a-zA-Z0-9\\-]*$","name":"service","in":"query"},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model118"}}],"tags":["Password"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model119"},"description":"Successful"}}}},"/password/forgot/send_code":{"post":{"summary":"/password/forgot/send_code","operationId":"postPasswordForgotSend_code","description":"Requests a 'reset password' code to be sent to the user's recovery email. The user should type this code into the agent, which will then submit it to `POST /password/forgot/verify_code`.\n\nThe code will be either 8 or 16 digits long, with the length indicated in the response. The email will either contain the code itself or the URL for a web page that displays the code.\n\nThe response includes `passwordForgotToken`, which must be submitted with the code to `POST /password/forgot/verify_code`.\n\nThe response also specifies the TTL of `passwordForgotToken` and an upper limit on the number of times the token may be submitted. By limiting the number of submission attempts, we also limit an attacker's ability to guess the code. After the token expires, or the maximum number of submissions has been made, the agent must call this endpoint again to generate a new code and token pair.\n\nEach account can have at most one `passwordForgotToken` valid at a time. Calling this endpoint causes existing tokens to be invalidated and a new one created. Each token is associated with a specific code, so by extension the codes are invalidated with their tokens.","parameters":[{"type":"string","description":"Identifies the relying service the user was interacting with that triggered the password reset.","maxLength":16,"pattern":"^[a-zA-Z0-9\\-]*$","name":"service","in":"query"},{"type":"boolean","name":"keys","in":"query","required":false},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model120"}}],"tags":["Password"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model119"},"description":"Successful"},"
[...]
