version: 2.1

jobs:
  Deploy to GitHub pages:
    resource_class: medium+
    docker:
      - image: cimg/node:22.20
    steps:
      - add_ssh_keys:
          fingerprints:
            - "cc:4c:4f:b8:68:5f:da:6c:fc:fd:58:85:78:5f:38:86"
      - checkout
      - run:
          name: Build and publish the docs portal
          command: |
            yarn install
            git config --global user.name "Application Services"
            git config --global user.email "application-services@mozilla.com"
            USE_SSH=true CUSTOM_COMMIT_MESSAGE="Deploy website [ci skip]" GIT_USER="Application Services" yarn deploy

workflows:
  version: 2
  deploy-website:
    jobs:
      - Deploy to GitHub pages:
          filters:
            branches:
              only: master
